body {
    background-color: black;
    color: white;
    font-family: 'Josefin Slab', serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, black, transparent);
    z-index: 50000;
}
/*
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}
*/
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Navbar */
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #04AA6D;
}

#gallery {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}

#abouta {
    position: relative;
    left: 0px;
    top: 200px;
    font-size: 30px;
}

#gallerya {
    position: relative;
    left: 0px;
    top: 400px;
    font-size: 30px;
}

#projectsa {
    position: relative;
    height: 200px;
    left: 0px;
    top: 600px;
    height: 200px;
    font-size: 30px;
}

#contacta {
    position: relative;
    left: 0px;
    top: 800px;
    font-size: 30px;
}

h1 {
    text-align: center;
    display: block;
}

* {
    box-sizing: border-box;
}

/* About Me */
#abouta {
    max-width: 1200px;
    margin: auto;
}

#about-container {
    text-align: center;
}

#profile {
    text-align: center;
}

#text-container {
    width: 500px;
    font-size: 20px;
    margin-left: 40px;
    text-align: left;
}

.about-item {
    display: inline-block;
}

.logo {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}

#logos {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    background-color: grey;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    width: 400px;
}

/* Contact Me */
#contacta {
    max-width: 600px;
    height: 600px;
    margin: auto;
}

input {
    display: block;
    margin-top: 10px;
    padding: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

textarea {
    display: block;
    margin-top: 10px;
    padding: 10px;
}

#message {
    width: 600px;
    height: 200px
}

/* Gallery */
.row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE 10 */
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.ImgThumbnail:hover {
    animation: pulse 1s infinite;
    /* transform: scale(1.03); */
}

/* Modal Gallery */
.left {
    position: sticky;
    top: 300px;
    left: 0px;
}

.right {
    position: sticky;
    top: 300px;
    left: 1900px;
}

.btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

/* CHANGE */
table {
    width: 1200px;
    margin: auto;
}

td {
    vertical-align: middle;
}

.right:hover {
    background-color: #555;
    box-shadow: 5px 5px 5px grey;
}

.left:hover {
    background-color: #555;
    box-shadow: -5px 5px 5px grey;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

.modalImage {
    margin: auto;
    display: block;
    width: 100%;

}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    cursor: pointer;
}
/* Project/VR button*/

 /*https://codyhouse.co/nuggets/animated-button-gradients*/

 .anim-bg-gradient {
    padding: 2em 5em;
    border-radius: 5em;
    cursor: pointer;
    color: white;
    background: linear-gradient(120deg, #04AA6D, #2196F3, #f44336);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
  }

  .anim-bg-gradient:hover {
    background-position: 0 0;
  }
  .center-vr-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Animations */

@media only screen and (max-width: 700px) {
    .modalImage {
        width: 100%;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    to {
        transform: scale(1);
    }
}
* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}
.magBtn{
  position: absolute;
  top: 15px;
  right: 1370px;
  width: 50px;
  height: 50px;
}